#container {
  margin-top: 50px;
}

#container textarea {
  resize: none;
  background-color: #626866;
  border-radius: 5px;
  color: #fff;
  border: 0px;
  border: 1px;
  font-size: 14px;
  padding: 10px;
  transition: 300ms;
  font-family: "Roboto", sans-serif;
  width: 500px;
  height: 500px;
}

#container h1 {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  text-align: center;
  transition: 300ms;
}
#container p {
  text-align: center;
  margin-bottom: 20px;
  transition: 300ms;
}

.green {
  color: #14ccbb;
}

.red {
  color: #cc1414;
}

/* Chrome, Safari, Edge, Opera */
#container input::-webkit-outer-spin-button,
#container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

/* Firefox */
#container input[type="number"] {
  -moz-appearance: textfield;
  display: none;
}

@media screen and (max-width: 520px) {
  #container textarea {
    width: 300px;
    height: 400px;
  }
}
